@page
@model eMarket.Web.Pages.IndexModel

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Home</title>
    <style>
        .display {
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
<div class="display">
    <h1 class="display-4">Welcome</h1>
</div>
</body>
</html>
