@page
@using eMarket.Domain.Entities
@model eMarket.Web.Pages.ProductListModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="~/css/product-list.css">
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Product List</h2>
    <div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            <img src="@product.ImageUrl" alt="product" style="width:100%">
            <div class="container">
                <h4><b>@product.Name</b></h4>
                <b>@product.Price</b>
            </div>
        </div>
    }
    

</div>
</body>
</html>